:root {
  --hb-grey-50: #fafafa;
  --hb-grey-100: #f4f4f5;
  --hb-grey-200: #e4e3e7;
  --hb-grey-300: #d4d3d8;
  --hb-grey-400: #a1a1aa;
  --hb-grey-500: #71717a;
  --hb-grey-600: #52525b;
  --hb-grey-700: #3f3f46;
  --hb-grey-800: #27272a;
  --hb-grey-900: #18181b;
  --hb-primary-purple-50: #f8f7ff;
  --hb-primary-purple-100: #eeebff;
  --hb-primary-purple-200: #d9d3f5;
  --hb-primary-purple-300: #b3a7ec;
  --hb-primary-purple-400: #6650d8;
  --hb-primary-purple-500: #3b20c6;
  --hb-primary-purple-600: #2d1a8f;
  --hb-primary-purple-700: #180a60;
  --hb-primary-purple-800: #100640;
  --hb-primary-purple-900: #090325;
  --hb-secondary-pink-50: #fff8fb;
  --hb-secondary-pink-100: #ffdfee;
  --hb-secondary-pink-200: #fecee5;
  --hb-secondary-pink-300: #faa7cf;
  --hb-secondary-pink-400: #e966a5;
  --hb-secondary-pink-500: #d01b71;
  --hb-secondary-pink-600: #a51358;
  --hb-secondary-pink-700: #7c0f43;
  --hb-secondary-pink-800: #490626;
  --hb-secondary-pink-900: #290315;
  --hb-tertiary-orange-50: #fff9f7;
  --hb-tertiary-orange-100: #fef1ec;
  --hb-tertiary-orange-200: #ffdccf;
  --hb-tertiary-orange-300: #ffac89;
  --hb-tertiary-orange-400: #fd7f49;
  --hb-tertiary-orange-500: #f25f20;
  --hb-tertiary-orange-600: #883512;
  --hb-tertiary-orange-700: #6c280a;
  --hb-tertiary-orange-800: #541d06;
  --hb-tertiary-orange-900: #39180a;
  --hb-validation-success-green-50: #f6fff8;
  --hb-validation-success-green-100: #ebffee;
  --hb-validation-success-green-200: #dbfae0;
  --hb-validation-success-green-300: #7edd8d;
  --hb-validation-success-green-400: #49ca5d;
  --hb-validation-success-green-500: #15a22c;
  --hb-validation-success-green-600: #178428;
  --hb-validation-success-green-700: #0c661b;
  --hb-validation-success-green-800: #0b4114;
  --hb-validation-success-green-900: #05240a;
  --hb-validation-failure-red-50: #fff6f6;
  --hb-validation-failure-red-100: #feecec;
  --hb-validation-failure-red-200: #ffdede;
  --hb-validation-failure-red-300: #f69e9e;
  --hb-validation-failure-red-400: #ff6060;
  --hb-validation-failure-red-500: #f13535;
  --hb-validation-failure-red-600: #c62727;
  --hb-validation-failure-red-700: #ae1a1a;
  --hb-validation-failure-red-800: #6b0f0f;
  --hb-validation-failure-red-900: #360606;
  --hb-yellow-focus-yellow: #ffc700;
  --hb-gradient-highlights: linear-gradient(180deg, #ff8a00 0%, #ffc774 100%);
  --hb-gradient-background: linear-gradient(180deg, #ac9cff21 0%, #3b20c600 100%);
  --hb-base-white: #ffffff;
}
