.label {
	position: absolute;
	top: -45px;
	background-color: var(--hb-grey-900);
	color: #fff;
	padding: 8px;
	border-radius: 4px;
	white-space: nowrap;
	pointer-events: none;
	user-select: none;
	touch-action: none;
}

.thumb {
	box-sizing: border-box;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid #fff;
	transform: translate(-50%, -50%);
    top: 50%;
	cursor: pointer;
	border-radius: 50%;
	transition-duration: 100ms;
	transition-property: box-shadow, transform;
	z-index: 3;
	user-select: none;
	touch-action: none;

	&--red {
		background-color: var(--hb-validation-failure-red-500);
		color: var(--hb-validation-failure-red-200);
	}

	&--purple {
		background-color: var(--hb-primary-purple-700);
		color: var(--hb-validation-failure-purple-200);
	}

    &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 4px var(--hb-yellow-focus-yellow);
    }
}

.dragging {
	transform: translate(-50%, -50%) scale(1.1);
}

.disabled {
    opacity: 1;
    cursor: not-allowed;
    // filter: grayscale(40%);  // Uncomment this if you want Thumb of disabled Slider to be grayed out, not provided in design
}

.fonts {
	&--s {
		font-size: var(--hb-font-size-xxs);
	}

	&--m {
		font-size: var(--hb-font-size-xs);
	}

	&--l {
		font-size: var(--hb-font-size-s);
	}
}
