.tooltip {
    font-size: var(--hb-font-size-s);
    position: absolute;
    width: min-content;
    color: var(--hb-base-white);
}

.arrow {
    background-color: var(--hb-base-white);
    border: 0;
}